*{
box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}
.navbar a{
    text-decoration: none;
}
.logo{
    margin-right: auto;
}
.hero{
 padding: 60px 20px;
 text-align: center;
}
.hero-content{
    max-width:fit-content;
    margin:0 auto;
}

.hero-content h1{
    padding: 60px 20px;
}

.recipes{
    padding: 40px 20px;
}
.recipes h2{
    text-align: center;

}
.recipe-cards{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.recipe-card{
    flex:1;
    min-width: 220px;
}
.recipe-card{
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.recipe-card h3{
    margin-top: 0;
}
.recipe-card ul{
    padding-left: 20px;
}
.recipe-card a{
    display:inline-block;
    margin-top:10px;
    text-decoration: none;
}
.why-us{
    padding:40px 20px ;
}
.why-card{
    max-width:800px;
    margin:0 auto;
    padding:20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.why-card h2{
    margin-top:0;
}
footer{
    margin-top:40px;
    padding:20px;
    text-align: center;
}
.recipe-page{
    padding:40px 20px;
}
.recipe-page .recipe-card{
    max-width: 800px;
    margin:0;
}
.recipe-page img{
    display: block;
    width:300px;
    max-width:100%;
    height: auto;
    margin:20px auto;

}
.recipe-details{
    padding:20px;
}
.ingredients{
    padding-left:20px;
}
.instructions{
    padding-left:20px;
}
